<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
          rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <title>alItem | 카드등록</title>
    <style>
        .container1 {
            max-width: 1000px; /* 원하는 최대 너비 설정 */
            max-height: 700px; /* 원하는 최대 높이 설정 */
            margin: 0 auto; /* 가운데 정렬을 위해 사용 */
        }

        .file-inputs {
            display: flex;
            flex-direction: column;
        }

        .file-inputs input {
            margin-bottom: 10px; /* 각 input 태그 사이에 간격 추가 */
        }

    </style>
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
      tabindex="0">
    <div th:insert="~{header}"></div>

    <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    </section>
    <section id="company-services" class="padding-large">
    </section>


    <div class="container1">
        <div class="row1">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase" style="margin-bottom: 25px">카드등록</h2>
            </div>
            <hr style="all: unset; display: block; width: 100%; height: 2px; background-color: #000000; border: none; padding: 0; margin-bottom: 41px">
        </div>
        <div>
            <body>
            <!-- `flag` 변수를 사용하여 조건부 렌더링 -->
            <div th:if="${flag}">
                <form action="/auth/member/card" method="post" onsubmit="return onSubmitForm()">
                    <input type="hidden" th:value="${session.loginId}" name="id">
                    <p th:text="${msg}"></p>
                    <label for="type">카드 종류:</label><br>
                    <select id="type" name="type" required>
                        <option value="BC">BC카드</option>
                        <option value="삼성">삼성카드</option>
                        <option value="국민">국민카드</option>
                        <option value="하나">하나카드</option>
                    </select><br><br>

                    <label for="cardnum1">카드 번호:</label><br>
                    <input type="text" id="cardnum1" name="cardnum1" maxlength="4" required
                           oninput="moveFocus(this, 'cardnum2'); allowOnlyNumbers(event);">
                    -
                    <input type="text" id="cardnum2" name="cardnum2" maxlength="4" required
                           oninput="moveFocus(this, 'cardnum3'); allowOnlyNumbers(event);">
                    -
                    <input type="text" id="cardnum3" name="cardnum3" maxlength="4" required
                           oninput="moveFocus(this, 'cardnum4'); allowOnlyNumbers(event);">
                    -
                    <input type="text" id="cardnum4" name="cardnum4" maxlength="4" required
                           oninput="allowOnlyNumbers(event);"><br><br>

                    <input type="hidden" id="fullcardnum" name="cardnum">

                    <label for="exp_month">유효기간 (MM/YY):</label><br>
                    <input type="text" id="exp_month" name="exp_month" maxlength="2" placeholder="MM" required
                           style="width: 30px;" oninput="allowOnlyNumbers(event);">
                    /
                    <input type="text" id="exp_year" name="exp_year" maxlength="2" placeholder="YY" required
                           style="width: 30px;" oninput="allowOnlyNumbers(event);"><br><br>

                    <input type="hidden" id="fullvaliddate" name="validDate">

                    <label for="cvc">CVC 번호:</label><br>
                    <input type="text" id="cvc" name="cvc" maxlength="3" required
                           oninput="allowOnlyNumbers(event);"><br><br>

                    <label for="pwd">비밀번호:</label><br>
                    <input type="password" id="pwd" name="pwd" required><br><br>

                    <hr style="all: unset; display: block; width: 100%; height: 2px; background-color: #000000; border: none; padding: 0; margin-bottom: 10px; margin-top: 25px">
                    <div style="display: flex; justify-content: flex-end;">
                        <button type="submit"
                                style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 10px; cursor: pointer; font-size: 16px;">
                            카드 등록
                        </button>
                    </div>
                </form>
            </div>
            <div th:if="${!flag}">
                <p>등록이 완료되었습니다.</p>
            </div>
            </body>
        </div>
    </div>

    <section id="latest-blog" class="padding-large">
    </section>
    <div th:insert="~{footer}"></div>
    <!-- 제일 아래 섹션 -->
    <!--<footer id="footer" class="overflow-hidden">-->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <div class="footer-top-area">-->
    <!--        <div class="row d-flex flex-wrap justify-content-between">-->
    <!--          <div class="col-lg-3 col-sm-6 pb-3">-->
    <!--            <div class="footer-menu">-->
    <!--              <img src="/images/logo1.png" alt="logo" style="height: 75px; width: 250px; margin-top: 3px; margin-bottom: 1px">-->
    <!--              <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio erat nullam fringilla.</p>-->
    <!--              <div class="social-links">-->
    <!--                <ul class="d-flex list-unstyled">-->
    <!--                  <li>-->
    <!--                    <a href="#">-->
    <!--                      <svg class="facebook">-->
    <!--                        <use xlink:href="#facebook" />-->
    <!--                      </svg>-->
    <!--                    </a>-->
    <!--                  </li>-->
    <!--                  <li>-->
    <!--                    <a href="#">-->
    <!--                      <svg class="instagram">-->
    <!--                        <use xlink:href="#instagram" />-->
    <!--                      </svg>-->
    <!--                    </a>-->
    <!--                  </li>-->
    <!--                  <li>-->
    <!--                    <a href="#">-->
    <!--                      <svg class="twitter">-->
    <!--                        <use xlink:href="#twitter" />-->
    <!--                      </svg>-->
    <!--                    </a>-->
    <!--                  </li>-->
    <!--                  <li>-->
    <!--                    <a href="#">-->
    <!--                      <svg class="linkedin">-->
    <!--                        <use xlink:href="#linkedin" />-->
    <!--                      </svg>-->
    <!--                    </a>-->
    <!--                  </li>-->
    <!--                  <li>-->
    <!--                    <a href="#">-->
    <!--                      <svg class="youtube">-->
    <!--                        <use xlink:href="#youtube" />-->
    <!--                      </svg>-->
    <!--                    </a>-->
    <!--                  </li>-->
    <!--                </ul>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-lg-2 col-sm-6 pb-3">-->
    <!--            <div class="footer-menu text-uppercase">-->
    <!--              <h5 class="widget-title pb-2">Quick Links</h5>-->
    <!--              <ul class="menu-list list-unstyled text-uppercase">-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Home</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">About</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Shop</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Blogs</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Contact</a>-->
    <!--                </li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-lg-3 col-sm-6 pb-3">-->
    <!--            <div class="footer-menu text-uppercase">-->
    <!--              <h5 class="widget-title pb-2">Help & Info Help</h5>-->
    <!--              <ul class="menu-list list-unstyled">-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Track Your Order</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Returns Policies</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Shipping + Delivery</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Contact Us</a>-->
    <!--                </li>-->
    <!--                <li class="menu-item pb-2">-->
    <!--                  <a href="#">Faqs</a>-->
    <!--                </li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-lg-3 col-sm-6 pb-3">-->
    <!--            <div class="footer-menu contact-item">-->
    <!--              <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>-->
    <!--              <p>Do you have any queries or suggestions? <a href="mailto:">yourinfo@gmail.com</a>-->
    <!--              </p>-->
    <!--              <p>If you need support? Just give us a call. <a href="">+55 111 222 333 44</a>-->
    <!--              </p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <hr>-->
    <!--</footer>-->

    <!--<div id="footer-bottom">-->
    <!--  <div class="container">-->
    <!--    <div class="row d-flex flex-wrap justify-content-between">-->
    <!--      <div class="col-md-4 col-sm-6">-->
    <!--        <div class="Shipping d-flex">-->
    <!--          <p>We ship with:</p>-->
    <!--          <div class="card-wrap ps-2">-->
    <!--            <img src="/images/dhl.png" alt="visa">-->
    <!--            <img src="/images/shippingcard.png" alt="mastercard">-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-md-4 col-sm-6">-->
    <!--        <div class="payment-method d-flex">-->
    <!--          <p>Payment options:</p>-->
    <!--          <div class="card-wrap ps-2">-->
    <!--            <img src="/images/visa.jpg" alt="visa">-->
    <!--            <img src="/images/mastercard.jpg" alt="mastercard">-->
    <!--            <img src="/images/paypal.jpg" alt="paypal">-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-md-4 col-sm-6">-->
    <!--        <div class="copyright">-->
    <!--          <p>© Copyright 2023 MiniStore. Design by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distribution by <a href="https://themewagon.com">ThemeWagon</a>-->
    <!--          </p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <script>
        function moveFocus(current, nextFieldId) {
            if (current.value.length >= 4) {
                document.getElementById(nextFieldId).focus();
            }
        }

        function assembleCardNumber() {
            var part1 = document.getElementById("cardnum1").value;
            var part2 = document.getElementById("cardnum2").value;
            var part3 = document.getElementById("cardnum3").value;
            var part4 = document.getElementById("cardnum4").value;
            document.getElementById("fullcardnum").value = part1 + part2 + part3 + part4;
        }

        function assembleValidDate() {
            var month = document.getElementById("exp_month").value;
            var year = document.getElementById("exp_year").value;
            document.getElementById("fullvaliddate").value = month + year;
        }

        function validateExpiryDate() {
            var month = document.getElementById("exp_month").value;
            var year = document.getElementById("exp_year").value;
            if (month < 1 || month > 12) {
                alert("유효한 월을 입력하세요 (01-12).");
                return false;
            }
            if (year.length !== 2) {
                alert("유효한 연도를 입력하세요 (두 자리).");
                return false;
            }
            return true;
        }

        function onSubmitForm() {
            assembleCardNumber();
            assembleValidDate();
            return validateExpiryDate();
        }

        function allowOnlyNumbers(event) {
            var input = event.target.value;
            event.target.value = input.replace(/[^0-9]/g, '');
        }
    </script>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
    <!--<script src="/notice.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/plugins.js"></script>-->
    <!--<script type="text/javascript" src="/js/script.js"></script>-->
</body>
</html>